.main-text {
    font-family: verdana, serif;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    text-shadow: #f86901 5px 5px 5px;
}

.button-style {
    background: #f86901;
    border: #f86901;
}

.ui-button-icon {
    background: #f86901;
}

html {
    background:url(#{request.contextPath}/resources/images/plane.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.ui-panel-content, .ui-panel-titlebar, .ui-panel-footer {
    background: transparent !important;
    border: none !important;
}

.ui-panelgrid {
    opacity: 80% !important;
}

.ui-panel-title {
    color: white;
}

